.nightingale-banner__container {
	padding: 20px 0;

	.nhsuk-grid-column-two-thirds {
		@include mq($from: tablet) {
			@include nhsuk-responsive-padding(0);
		}
	}
	.nightingale-banner__title {
		margin-bottom: 18px;
		font-size: 1.875rem;
		font-weight: 600;

		@include mq($from: tablet) {
			font-size: 3rem;
			line-height: 1.16667;
			margin-bottom: 0;
		}
	}

	.nightingale-banner__link {

		@include mq($from: tablet) {
			float: right;
		}
	}
	
	.yellow-button {
		background: #FFDD00;
		color: #000000;
		padding: 6px 12px;
		font-weight: bold;
		text-decoration: none;
		font-size: 1.25rem;
		display: block;
		text-align: center;

		@include mq($from: tablet) {
			font-size: 1.5rem;
			margin-top: 7px;
			text-align: left;
			padding: 3px 12px;
		}
	}
}
/* end of banner.scss include */
