.nhsuk-footer {

	&__list {
		width: 100%;
		margin-bottom: 16px;
		margin-bottom: 1rem;
	}

	&__copyright {
		float: unset;
		text-align: left;

		&_img {

			text-align: center;

			img {
				max-width: 50%;
			}
		}
	}
	.widget_social_widget {
		font-size: 2.5rem;

		a {
			color: #454A4C;
			margin-right: 12px;

			&:focus {
				background-color: transparent;
				box-shadow: none;
				color:  #ffeb3b;
			}
		}

		.widgettitle {
			font-size: 24px;
			font-size: 1.5rem;
		}
	}
}