@import url(https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);

$pt-sans: 'PT Sans', sans-serif;
$fonts: (
        'pt-sans' : $pt-sans
);

@each $name, $font in $fonts {
  .primary-font--#{$name} {
    font-family: $font;
  }

}
