@import url(https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);

$pt-sans: 'PT Sans', sans-serif;
$fonts: (
        'pt-sans' : $pt-sans
);

@each $name, $font in $fonts {
  .primary-font--#{$name} {
    font-family: $font;
  }
}

//PT Sans Specific font sizes - Font size may something we want to add to customizer
.primary-font--pt-sans {
  font-size: 100%;

  h1 {

    font-size: 1.875rem;

    @include mq($from: tablet) {
      font-size: 3rem;
    }
  }

  h2 {

    font-size: 1.625rem;

    @include mq($from: tablet) {
      font-size: 2.625rem;
    }
  }

  h3 {

    font-size: 1.375rem;

    @include mq($from: tablet) {
      font-size: 2.25rem;
    }
  }

  h4 {

    font-size: 1.125rem;

    @include mq($from: tablet) {
      font-size: 1.75rem;
    }
  }

  p {

    font-size: 1rem;

    @include mq($from: tablet) {
      font-size: 1.125rem;
    }


  }

  blockquote {
    
    font-style: italic;
    font-size: 1.25rem;

    @include mq($from: tablet) {
      font-size: 1.5rem;
    }


  }

  .intro {

    font-size: 1.25rem;

    @include mq($from: tablet) {
      font-size: 1.5rem;
    }

  }


}
